body {
    background-color:rgba(83, 64, 36, 0.219);
    margin: 0;
    color:black;
}

.header {
    height: 30vh;
    background-image: url(imagenes/BannerMaquinaria.png);
    background-repeat: no-repeat;
    background-size: cover;
    
   
   
   
/**FALTA MPODIFICAR**/

}

.padre{
    margin-top: 40px;
    margin-left: 30px;
    
}

.card{
    margin-top: 50px;
    margin-left: 60px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;

}

